*
	{
		/*font-weight: 600;*/
	  font-family: Helvetica, Arial, sans-serif;
	}

body 
	{
		margin: 0px;
		padding: 0px;
		display: flex;
		align-items: center;
		justify-items: center;
		flex-direction: column;
			background-color: #F0F2F5;
		/*width: 100vh;*/
	}

.facebook_logo1
	{
		width: 250px;
		height: 107px;
		margin-top: 13px;
	}
.main_login
	{
		display: flex;
		align-items: center;
		flex-direction: column;
		justify-items: center;
		max-width: 398px;
		width: 100%;
		height: 325px;
		border: 2px solid black;
		gap: 10px;
		border: none;
		box-shadow: 0 0 10px black;
		border-radius: 8px;
		background-color: white;
	}


.header, p
		{
			font-size: 20px;
		}
	
	#email_number,#pass2
		{
			width: 368px;
			height: 52px;
			border-radius: 5px;
			border: 1px solid black;
		}
	#login 
		{
			font-weight: 600;
			width: 375px;
			height: 48px;
			border-radius: 4px;
			border: none;
			color: white;
			font-weight: 600;
			background-color: #1877f2;
			border: none;
		}
#forget_pass
	{
		margin-top: 5px;
		font-weight: 600;

	}
.main_login,a
	{
		text-decoration: none;
	}
