*
	{
	  font-family: Helvetica, Arial, sans-serif;
	}

body 
	{
		margin: 0px;
		padding: 0px;
		background-color: #F0F2F5;
		
	}

.forget_pass_main
	{
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		height: 100vh;
	}
.reset_pass_box
	{
		width: 396px;
		height: 300px;
		border: 1px solid black;
		display: flex;
		align-items: center;
		/*justify-content: center;*/
		flex-direction: column;
		gap: 10px;
		background-color: white;
		box-sizing: border-box;
		box-shadow: 0 0 10px seagreen;
		border: none;
		border-radius: 4px;

	}


.forget_pass_main,.rs
	{
		margin-bottom: 10px;
		color: black;
		font-weight: 600;
		font-size: 20px;
	}
#orignal_pass,
#conform_pass,
#reset_pass
	{
		width: 330px;
		height: 40px;
		border-radius: 7px;
		border: none;
		box-shadow: 0 0 5px black;
		padding-left: 30px;
	}

#orignal_pass,
#conform_pass
	{
		border: 2px solid black;
	}

#reset_pass
	{
		margin-top: 35px;
		padding-left: 0px;

	}
#orignal_pass:hover,
#conform_pass:hover
	{
		border: 1px solid #1877f2;
	}
#reset_pass:focus
	{
		box-shadow: 0 0 15px blue;

	}
#fr
	{
		margin-top: 5px;
		font-size: 18px;
		text-decoration: none;
		color: blue;
	}
#fr:focus
	{
		color: black;
		opacity: 0.8px;
	}